<!--<div *ngIf="!user">-->
<!--<mat-spinner></mat-spinner>-->
<!--</div>-->
<div>
  <mat-card>
    <mat-card-header>
      <!--<mat-icon mat-card-avatar svgIcon="{{user.avatar}}"></mat-icon>-->
      <mat-card-title>
        <h2>Flexbox</h2>
      </mat-card-title>
      <mat-card-subtitle>
        Container Properties
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="display">
          <p>
            This defines a flex container; inline or block depending on the given value. It enables a flex context for
            all
            its direct children.
          </p>
          <div class="code">
          <pre><code>
.container &#123;
  display: flex; /* or inline-flex */
&#125;

</code></pre>
          </div>
          <p>
            Note that CSS columns have no effect on a flex container.
          </p>
        </mat-tab>
        <mat-tab label="flex-direction">

          <p>
            This establishes the main-axis, thus defining the direction flex items are placed in the flex container.
            Flexbox is (aside from optional wrapping) a single-direction layout concept. Think of flex items as
            primarily laying out either in horizontal rows or vertical columns.
          </p>
          <div class="code">
          <pre><code>
.container &#123;
  flex-direction: row | row-reverse | column | column-reverse;
 &#125;
          </code></pre>
          </div>
          <p>
            row (default): left to right in ltr; right to left in rtl<br>
            row-reverse: right to left in ltr; left to right in rtl<br>
            column: same as row but top to bottom<br>
            column-reverse: same as row-reverse but bottom to top<br>
          </p>
          <img style="width: 450px; height: 150px" src="/assets/images/flex-direction2.svg">
        </mat-tab>
        <mat-tab label="flex-wrap">

          <p>
            By default, flex items will all try to fit onto one line. You can change that and allow the items to wrap as
            needed with this property.
          </p>
          <div class="code">
          <pre><code>
.container &#123;
  flex-wrap: nowrap | wrap | wrap-reverse;
&#125;
          </code></pre>
          </div>
          <p>
            nowrap (default): all flex items will be on one line<br>
            wrap: flex items will wrap onto multiple lines, from top to bottom.<br>
            wrap-reverse: flex items will wrap onto multiple lines from bottom to top.<br>
            There are some visual demos of flex-wrap here.<br>
          </p>
          <img style="width: 450px; height: 150px" src="/assets/images/flex-wrap.svg">
        </mat-tab>
        <mat-tab label="flex-flow">
          <h2>(Applies to: parent flex container element)</h2>
          <p>
            This is a shorthand flex-direction and flex-wrap properties, which together define the flex container's main
            and
            cross axes. Default is row nowrap.
          </p>
          <div class="code">
          <code>
flex-flow: <‘flex-direction’> || <‘flex-wrap’><br>
        </code>
          </div>
        </mat-tab>
        <mat-tab label="justify-content">

          <p>
            This defines the alignment along the main axis. It helps distribute extra free space left over when either
            all
            the flex items on a line are inflexible, or are flexible but have reached their maximum size. It also exerts
            some control over the alignment of items when they overflow the line.
          </p>
          <div class="code">
          <pre><code>
.container &#123;
  justify-content: flex-start | flex-end | center | space-between | space-around | space-evenly;
&#125;
        </code></pre>
          </div>
          <p>
            flex-start (default): items are packed toward the start line
            flex-end: items are packed toward to end line
            center: items are centered along the line
            space-between: items are evenly distributed in the line; first item is on the start line, last item on the
            end
            line
            space-around: items are evenly distributed in the line with equal space around them. Note that visually the
            spaces aren't equal, since all the items have equal space on both sides. The first item will have one unit
            of
            space against the container edge, but two units of space between the next item because that next item has
            its
            own spacing that applies.
            space-evenly: items are distributed so that the spacing between any two items (and the space to the edges)
            is
            equal.
          </p>
          <img style="width: 350px; height: 350px" src="/assets/images/justify-content-2.svg">
        </mat-tab>
        <mat-tab label="align-items">

          <p>
            This defines the default behaviour for how flex items are laid out along the cross axis on the current line.
            Think of it as the justify-content version for the cross-axis (perpendicular to the main-axis).
          </p>
          <div class="code">
          <pre><code>
.container &#123;
  align-items: flex-start | flex-end | center | baseline | stretch;
&#125;
        </code></pre>
          </div>
          <p>
            flex-start: cross-start margin edge of the items is placed on the cross-start line<br>
            flex-end: cross-end margin edge of the items is placed on the cross-end line<br>
            center: items are centered in the cross-axis<br>
            baseline: items are aligned such as their baselines align<br>
            stretch (default): stretch to fill the container (still respect min-width/max-width)<br>
          </p>
          <img style="width: 350px; height: 350px" src="/assets/images/align-items.svg">
        </mat-tab>
        <mat-tab label="align-content">
          <div>
            <p>
              This aligns a flex container's lines within when there is extra space in the cross-axis, similar to how
              justify-content aligns individual items within the main-axis.

              Note: this property has no effect when there is only one line of flex items.
            </p>
            <div class="code">
            <pre><code>
.container &#123;
  align-content: flex-start | flex-end | center | space-between | space-around | stretch;
&#125;
        </code></pre>
            </div>
            <p>
              flex-start: lines packed to the start of the container<br>
              flex-end: lines packed to the end of the container<br>
              center: lines packed to the center of the container<br>
              space-between: lines evenly distributed; the first line is at the start of the container while the last
              one is
              at the end<br>
              space-around: lines evenly distributed with equal space around each line<br>
              stretch (default): lines stretch to take up the remaining space<br>
            </p>
            <img style="width: 350px; height: 350px" src="/assets/images/align-content.svg">
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
