<mat-sidenav-container class="app-sidenav-container"
                       [class.dark-theme]="isDarkTheme" [dir]="dir">

  <mat-sidenav #sidenav class="app-sidenav mat-elevation-z5"
               [opened]="!isScreenSmall()"
               [mode]="isScreenSmall() ? 'over' : 'side'">
    <mat-toolbar color="primary">
      Flexbox
    </mat-toolbar>

    <mat-nav-list>

      <mat-list-item>
        <a matLine [routerLink]="'flexboxtheory'">
          Theory
        </a>
      </mat-list-item>

      <mat-nav-list dense style="margin-left:20px;">
        <mat-list-item>
          <a matLine [routerLink]="'containerproperties'">
            Container properties
          </a>
        </mat-list-item>

        <mat-list-item>
          <a matLine [routerLink]="'itemsproperties'">
            Items properties
          </a>
        </mat-list-item>
      </mat-nav-list>


      <mat-list-item>
        <a matLine [routerLink]="'test'">
          Practice
        </a>
      </mat-list-item>

    </mat-nav-list>

  </mat-sidenav>

  <div class="app-sidenav-content">
    <app-toolbar (toggleTheme)="toggleTheme()"
                 (toggleSidenav)="sidenav.toggle()"
                 (toggleDir)="toggleDir()">
    </app-toolbar>
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>

</mat-sidenav-container>
