<div class="flexbox-sandbox-container">
  <div class="sandbox-content">
    Content
  </div>
  <div class="sandbox-controls-side">
    <mat-card>
      <mat-card-content>
        <mat-tab-group id="flexboxsandbox-tab-groups">
          <mat-tab label="Container">

            <div class="example-container mat-elevation-z8">
              <mat-table #table [dataSource]="dataSourceContainerProperties">

                <ng-container matColumnDef="value">
                  <mat-header-cell *matHeaderCellDef>Property Value</mat-header-cell>

                  <mat-cell *matCellDef="let element">
                    <mat-form-field *ngIf="element.valueType == ValueType.dropdown">
                      <mat-select placeholder="{{element.name}}">
                        <mat-option *ngFor="let availableValue of element.availableValues" [value]="availableValue">
                          {{ availableValue }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field *ngIf="element.valueType != ValueType.dropdown" class="example-full-width">
                      <input matInput placeholder="{{element.name}}">
                    </mat-form-field>
                  </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumnsContainerProperties"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumnsContainerProperties;"></mat-row>
              </mat-table>
            </div>

          </mat-tab>
          <mat-tab label="Items">
            <mat-table #table [dataSource]="dataSourceItemProperties">

              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef>Property Name</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.name}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="value">
                <mat-header-cell *matHeaderCellDef>Property Value</mat-header-cell>

                <mat-cell *matCellDef="let element">
                  <mat-form-field *ngIf="element.valueType == ValueType.dropdown">
                    <mat-select placeholder="{{element.name}}">
                      <mat-option *ngFor="let availableValue of element.availableValues" [value]="availableValue">
                        {{ availableValue }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field *ngIf="element.valueType != ValueType.dropdown" class="example-full-width">
                    <input matInput placeholder="{{element.name}}">
                  </mat-form-field>
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumnsItemProperties"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumnsItemProperties;"></mat-row>
            </mat-table>
          </mat-tab>
          <mat-tab label="Dom">
            Dom
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
</div>

